/* 公共样式 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.45rem;
    background-color: #f9f9f9;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

li {
    list-style: none;
}

input,
button {
    outline: none;
}

header {
    position: relative;
    margin-bottom: 0.375rem;
    font-size: 0.5rem;
    line-height: 1.25rem;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 0.25rem #dedede;
}

header .left {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.25rem;
}

header .right {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1.25rem;
}

header a {
    display: block;
    font-size: 0.4rem;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
}


/* 首页 */

#eating h1 {
    font-size: 0.55rem;
    text-align: center;
}

#eating .btn-group {
    margin: 0.375rem auto 0;
    padding: 0 0.375rem;
}

#eating .btn-group:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

#eating .btn-group .left {
    float: left;
}

#eating .btn-group .right {
    float: right;
}

#eatingBox {
    position: relative;
    margin: 0 auto;
    min-height: 8.0rem;
}

#eatingBox>span {
    position: absolute;
    display: inline-block;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
}

#eatingBox>span.active {
    color: #4cd964;
    background-color: yellow;
}

#eatingBox #circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    z-index: 1;
    opacity: .6;
}

#eatingBox #circle.rolled {
    animation: rotate 0.5s linear infinite both;
    -webkit-animation: rotate 0.5s linear infinite both;
}

#eatingBox>p {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    -webkit-animation: flicker 1s ease-in 0s infinite;
    animation: flicker 1s ease-in 0s infinite;
    z-index: 2;
}

#eatingBox #textBox {
    position: absolute;
    z-index: 2;
}

#eatingBox #textBox span {
    display: inline-block;
    position: absolute;
    color: #fff;
    font-size: 0.45rem;
    text-align: center;
    -webkit-animation: scale 1s ease-in 0s 1;
    animation: scale 1s ease-in 0s 1;
    z-index: 2;
    white-space: nowrap;
}

#aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 100%;
    background-color: #fff;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 10;
    text-align: center;
    overflow: hidden;
}

#aside.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#aside dt span {
    margin: 0.375rem 0;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    overflow: hidden;
    border: 0.125rem solid #dedede;
    border-radius: 50%;
}

#aside dt img {
    width: 100%;
    height: 100%;
}

#aside dd {
    line-height: 2.5em;
}


/* 今天次神马 */

.eating .foodList {
    margin-bottom: 1.25rem;
}

.eating .list {
    background-color: #fff;
    margin-bottom: 0.375rem;
}

.eating .list>h3 {
    padding-left: 0.25rem;
    font-size: 0.45rem;
    line-height: 1.0rem;
    margin-bottom: 0.25rem;
}

.eating .list>h3.active {
    color: #fff;
    background-color: #007aff;
}

.eating .list>div {
    padding: 0 0.25rem;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .25s;
    transition: height .25s;
}

.eating .list>div:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.eating .list span {
    margin-bottom: 0.375rem;
    float: left;
    display: inline-block;
    width: 2.375rem;
    border-radius: 0.25rem;
    line-height: 1.0rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.eating .list span:nth-child(3n + 2) {
    margin: 0 0.125rem;
}

.eating .list span.selected {
    background-color: #4cd964;
    color: #fff;
}

.eating .btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.eating .btn-group:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.eating .btn-group button {
    float: left;
    width: 4.0rem;
    font-size: 0.45rem;
    border-radius: 0;
}


/* 我的清单 */

.mine .foodList {
    margin-bottom: 1.25rem;
}

.mine .list {
    background-color: #fff;
    margin-bottom: 0.375rem;
}

.mine .list>h3 {
    padding-left: 0.25rem;
    font-size: 0.4rem;
    line-height: 1.0rem;
    margin-bottom: 0.25rem;
}

.mine .list>h3:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.mine .list>h3 strong {
    float: right;
    margin-left: 0.25rem;
    display: block;
    width: 1.0rem;
    font-size: 0.4rem;
    text-align: center;
    vertical-align: middle;
}

.mine .del {
    color: red;
}

.mine .edit {
    color: #007aff;
}

.mine .add {
    color: #4cd964;
}

.mine .list>h3 strong.okey {
    color: purple;
    display: none;
}

.mine .list>div {
    padding: 0 0.25rem;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .25s;
    transition: height .25s;
}

.mine .list>div:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.mine .list span {
    margin-bottom: 0.375rem;
    float: left;
    display: inline-block;
    width: 2.375rem;
    border-radius: 0.25rem;
    line-height: 1.0rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mine .list span:nth-child(3n + 2) {
    margin: 0 0.125rem;
}

.mine .list span.selected {
    background-color: red;
    color: #fff;
}


/* 贡献 */

.contribute section {
    padding: 0 0.25rem;
}

.contribute h5 {
    margin-bottom: 0.25rem;
}

.contribute input {
    margin-bottom: 0.25rem;
    padding: 0.05rem 0.3rem;
    width: 5.0rem;
    height: 0.75rem;
    font-size: 0.4rem;
    border-radius: 0.25rem;
    border: 1px solid #dedede;
}

.contribute .intro {
    margin: 0.25rem 0;
    padding: 0 0.25rem;
    font-size: 0.4rem;
}

.contribute .list:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.contribute .list span {
    float: left;
    display: inline-block;
    width: 2.375rem;
    line-height: 0.75rem;
    margin-bottom: 0.25rem;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contribute .list .selected {
    color: #fff;
    background-color: #4cd964;
}

.contribute .list span:nth-child(3n + 2) {
    margin: 0 0.125rem;
}

.contribute .control button {
    width: 1.5rem;
    height: 0.75rem;
    background-color: #fff;
    border: 1px solid #dedede;
    font-size: 0.35rem;
    border-radius: 0.25rem;
}

.contribute .group strong {
    margin-left: 0.5rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.35rem;
    border-radius: 50%;
    background-color: red;
    color: #fff;
}

.contribute section>a {
    margin: 0.25rem auto 0.25rem;
    display: block;
    width: 2.0rem;
    font-size: 0.35rem;
    line-height: 0.75rem;
    color: #fff;
    background-color: #4cd964;
    border-radius: 10px;
    text-align: center;
}


/* 登录 */

.login .form {
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.login .form p {
    margin: 0.25rem 0;
}

.login .form label {
    line-height: 0.875rem;
}

.login .form input {
    padding: 0.05rem 0.3rem;
    width: 5.0rem;
    height: 0.875rem;
    border: 0.025rem solid #dedede;
    border-radius: 0.25rem;
}

.login .form button {
    width: 1.5rem;
    height: 0.75rem;
    background-color: #fff;
    border: 1px solid #dedede;
    font-size: 0.35rem;
    border-radius: 0.25rem;
}

.login .form button:active {
    color: #fff;
    background-color: #4cd964;
}


/* 次货转盘的动画 */
@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0);
        transform: rotate3d(0, 0, 1, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0);
        transform: rotate3d(0, 0, 1, 0);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


/* 测试, 没什么卵用 */

#test {
    font-size: 0.4rem;
}
